<div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;  margin-bottom: 20px;"><a href="/collections/spitfire-arson-business"><img  border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/sf-arson-department-footer-1033x181.jpg?3569868592113242290"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 0px;"><a href="/collections/real-fall-drop-1"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/rs-b2b-600x600.jpg?6273134726834937576"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 0px;"><a href="/collections/spitfire-fall-drop-1"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/2-sf-b2b-600x600.jpg?17732383141115557206"></a></div>
		
		<div class="grid-item large--one-whole" style="padding: 0px; margin-top: 20px;"><a href="/pages/dlx-cafe"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/dlx-coffeebeans.jpg?2268601405624649662"></a><br><br></div>
	
	
</div> 