<div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="/collections/in-bloom"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/in-bloom-square-500x.jpg?5191893558113358103"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="https://goo.gl/EBpzra"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/DLX-NOD-Louie-500x500.jpg?4256049071312963347"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="https://goo.gl/uqfihJ"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B_3_24_AH.jpg?11595678444516197815"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="https://goo.gl/Q1w5Sn"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/SF-3-24-B2B.jpg?14875931601811580122"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="https://goo.gl/0MLuvl"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/TH-B2B-3_24.jpg?14875931601811580122"></a></div>
		
		<div class="grid-item large--one-whole" style="padding: 10px;"><a href="https://goo.gl/qDdtCK"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B_SF-F4-Radials-1000x175.jpg?14875931601811580122"></a></div>
		
		<div class="grid-item large--one-whole" style="padding: 10px;"><a href="/pages/dlx-cafe"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/dlx-coffeebeans.jpg?2268601405624649662"></a><br><br></div>
	
	
</div>
</div>