<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/venture-trucks"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/nod-ve-d2-1000x500.png?1870017879504247380" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>
<div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="/collections/spitfire-wheels/products/f4-99-lacey-perennial-classics"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/lacey500.jpg?1072475939528479943"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="/collections/2018-holiday-prebook"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/DISTRO-HOL.png?15970027204852808717"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="/collections/all/ronnie-sandoval"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/KR-sandoval-273.jpg?457303353329696875"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="/collections/wax/products/110317_embers-mini-wax-case"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/wax-273.jpg?10902236148874812261"></a></div>
		
		<div class="grid-item large--one-third" style="padding: 10px;"><a href="/collections/antihero-decks/products/2018bts-shaped-eagle-blue-meanie-8-75"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/blue-meanie-273.jpg?457303353329696875"></a></div>
		
		<div class="grid-item large--one-whole" style="padding: 10px;"><a href="https://goo.gl/qDdtCK"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B_SF-F4-Radials-1000x175.jpg?14875931601811580122"></a></div>
		
		<div class="grid-item large--one-whole" style="padding: 10px;"><a href="/pages/dlx-cafe"><img border="0" src="https://cdn.shopify.com/s/files/1/0714/9533/files/dlx-coffeebeans.jpg?2268601405624649662"></a><br><br></div>
	
	
</div>
</div>