{% if section.settings.banner != NULL %}{% if section.settings.pdflink != NULL %}<a href="{{ section.settings.pdflink }}" target="_Blank">{% endif %}<img src="{{ section.settings.banner | img_url: '1000x500' }}" border="0">{% if section.settings.pdflink != NULL %}</a>{% endif %}{% endif %}

{% if section.settings.headertext != NULL %}<br>

<h1><br>{{ section.settings.headertext }}</h1>{% endif %}

{% if section.settings.pdflink != "" %}
<br><a href="{{ section.settings.pdflink }}" target="_Blank"><u>Download the PDF</u></a>
{% endif %}




{% schema %}
{
  "name": "Collection Header",
  "settings": [
    {
	"type": "image_picker",
    "id": "banner",
    "label": "Banner"
    },
    {
      "type": "text",
      "id": "pdflink",
      "label": "PDF Link"
    },
    {
      "type": "text",
      "id": "headertext",
      "label": "Header Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


