{% if section.settings.banner != NULL %}{% if section.settings.bannerlink != NULL %}<a href="{{ section.settings.bannerlink }}" target="_Blank">{% endif %}<img src="{{ section.settings.banner | img_url: '1000x200' }}" border="0">{% if section.settings.bannerlink != NULL %}</a>{% endif %}{% endif %}




{% schema %}
{
  "name": "Collection Header",
  "settings": [
    {
	"type": "image_picker",
    "id": "banner",
    "label": "Banner"
    },
    {
      "type": "text",
      "id": "bannerlink",
      "label": "Banner Link"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}