<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/new-on-deck-week-of-oct-17th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/on_deck_b2b.jpg?1521123245195176028" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
