<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/thunder-trucks/products/2018bts-jamie-foy-sky-high-front"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/foy-1000x500-nod.jpg?1740006389086675235" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}