<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/closer-look-week-of-nov-14th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/closer_look_b2b_03740859-9c24-4dad-9027-01e2eba5a664.jpg?13744347735354020791" border="0"></a><br><br>
</div></div>

{% include 'featured' %}