<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="https://goo.gl/VOumx6"><img src="https://cdn.shopify.com/s/files/1/1092/4144/files/DISTRO_4_17_17.jpg?16453333521201204393" border="0"></a></div></div>

{% include 'featured' %}