<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/real-decks/royal-ovals?utm_source=Promo%201"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/NOD-1-22-18.png?353807190863073696" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}