<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="/collections/2017-fall-drop-1-preview"><img src="https://cdn.shopify.com/s/files/1/1092/4144/files/distro_nod_7_10.jpg?12013665328467442013" border="0"></a></div></div>

{% include 'featured' %}