<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/new-on-deck-week-of-june-27th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/b2b_on_deck_ece66b84-dd73-49e5-b160-f09bbfbaa6ef.jpg?18201021064896438284" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
