<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="https://goo.gl/ZkBOcJ"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/distro_4_10.jpg?15127322780601757725" border="0"></a></div></div>

{% include 'featured' %}