<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/thunder/2017-fall-drop-2"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/majerus-ad-b2b.jpg?7787875549514226168" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}