<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/new-on-deck-week-of-july-11th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/b2b-header.jpg?3301412261683125728" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
