<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="https://goo.gl/2e8wiL"><img src="https://cdn.shopify.com/s/files/1/1092/4144/files/distro_3_13.jpg?2631258841358840941" border="0"></a></div></div>

{% include 'featured' %}