<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="https://goo.gl/lRA0YP"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B_2_27.jpg?4507824064556662001" border="0"></a></div></div>

{% include 'featured' %}