<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3>
    
    As much as we’d prepared, the overwhelming number of orders have crashed our system. We are assessing the damage and will give you a shout when we are able to reopen. For those of you that did place orders, we will let you know an estimate of your ship date as soon as possible. Thanks again.




</h3></p>
	</div>
</div>
{% section 'featured' %}