<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/real-decks"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/zion-thrasher-b2b.jpg?3885022666790525502" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %} 