<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<a href="/collections/spitfire-wheels/lock-ins"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/NOD-8-21-17.jpg?13853637213486328164" border="0"></a>
	</div>
</div>

{% include 'featured-homepage' %}