<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/spitfire-spring-drop-2" id="promo_1"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/ben-kadow-1000x500.jpg?11521992522704883589" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}