<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="/collections/krooked-decks"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/distro_5_15_17.jpg?7941369182648370659" border="0"></a></div></div>

{% include 'featured' %}