<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/2018-holiday-prebook#spitfire"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B-sf-HEADER-1000x5002.png?8036945816716847917" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}