<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/new-on-deck-week-of-april-23rd"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/4-23-1000x500.png?11311208579028114268" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}