<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/new-on-deck-week-of-may-2nd"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/on_deck_5_2.jpg?13420406547752314233" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
