<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/spitfire-wheels/products/7_6_17_80hd-chargers-pushing-for-pink"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/Pushing4Pink-NOD-1000x500.jpg?8206570183076668137" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}