<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/venture-trucks" id="promo_1"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/nod-ve-d2-1000x500.png?1870017879504247380" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}