<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<a href="/collections/spring-drop-1"><img src="https://cdn.shopify.com/s/files/1/1092/4144/files/fup.jpg?9564834589356003541" border="0"></a></div></div>

{% include 'featured' %}