<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/closer-look-week-of-sept-9th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/closer_look_b2b.jpg?17866814751761400519" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
