<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/thunder-fall-drop-3-available-now"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/B2B-th-fall-drop3-b2b-homepage.jpg?14617616637850245238" border="0"></a><br><br>
</div></div>

{% include 'featured' %}