<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/7-17-b2b.jpg?17632821026986079984" border="0"></div></div>

{% include 'featured' %}