<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/closer-look-week-of-nov-28th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/b2b-11-28.jpg?13118042885984362796" border="0"></a><br><br>
</div></div>

{% include 'featured' %}