<!-- {% include 'slider' %} -->

 <div class="grid-item" style="padding: 0px;">
		<div class="grid-item large--one-whole" style="padding: 0px;">
<a href="/collections/new-on-deck-week-of-june-13th"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/b2b_on_deck_6_13.jpg?7931095665634621222" border="0"></a><br><br>
</div></div>

{% include 'featured' %}  
	
