<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/MemorialDay-Flyer-B2Bmain.jpg?1632145245274929149" border="0">
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}