<!-- {% include 'slider' %} -->

<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="/collections/spitfire-wheels/classic-f4s"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/NOD-F4-101-1000x500.jpg?9805283724631176893" border="0"></a>
		<!-- END VIDEO -->
	</div>
</div>

{% include 'featured-homepage' %}