{% include 'breadcrumb' %}

<div class="grid">

	<div class="grid-item large--two-thirds">
		

		<a href="http://www.dlxcafe.com" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/dlx_cafe_LOGO2.jpg?2455462074565695305" align="left" hspace="6" border="0"></a><u><b>DLX CAFE</b></u>
		<BR><BR>Looking for social media images and product images? Are you searching for images of products past? Maybe on the hunt for social media video clips to share on Instagram or brand logos? Check the <a href="http://www.dlxcafe.com" target="_blank"><b>DLX CAFE</b></a> - Open 24 hrs
		
			</div>

</div>
	<div class="grid">

	<div class="grid-item large--nine-tenths">	
		<br><br>Products Images - Catalogs - Logos - Social Media Assets
		
		<br><br><a href="http://www.dlxcafe.com" target="_blank">www.dlxcafe.com</a>
		<br><font color="red">User: cafe@dlxsf.com
		<br>Pass: Coffeebeans (cap sensitive)</font>
		
		<br><br>
		<a href="http://www.dlxcafe.com" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/dlx_cafe3.jpg?14396172818223669596" border="0"></a>
	</div>

</div>