{% include 'breadcrumb' %}

<style type="text/css">
	
	    
	#category {
        display: inline-block; 
        box-shadow: 10px 10px 5px #cacaca;
        padding: 15px;
        vertical-align: top;
        background: #d8d8d8; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(#d8d8d8, #FFF); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#d8d8d8, #FFF)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#d8d8d8, #FFF)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#d8d8d8, #FFF)); /* Standard syntax */
        margin: 10px 10px 10px 10px;
    }

</style>

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <div class="rte">
      <div id="category">
	<h1>Decks</h1>
<p><a href="real-decks-order-form">Real</a></p>
<p><a href="antihero-decks-order-form">Antihero</a></p>
<p><a href="krooked-decks-order-form">Krooked</a></p>
</div>

<div id="category">
	<h1>Trucks</h1>
<p><a href="thunder-trucks-order-form">Thunder</a></p>
<p><a href="venture-trucks-order-form">Venture</a></p>
</div>

<div id="category">
	<h1>Wheels</h1>
<p><a href="spitfire-wheels-order-form">Spitfire</a></p>
<p><a href="krooked-wheels-order-form">Krooked</a></p>
</div>

<div id="category">
	<h1>Apparel</h1>
<p><a href="real-apparel-order-form">Real</a></p>
<p><a href="spitfire-apparel-order-form">Spitfire</a></p>
<p><a href="antihero-apparel-order-form">Antihero</a></p>
<p><a href="krooked-apparel-order-form">Krooked</a></p>
<p><a href="thunder-apparel-order-form">Thunder</a></p>
<p><a href="venture-apparel-order-form">Venture</a></p>
</div>

<div id="category">
<h1>Accessories</h1>
<p><a href="real-accessories-order-form">Real</a></p>
<p><a href="spitfire-accessories-order-form">Spitfire</a></p>
<p><a href="antihero-accessories-order-form">Antihero</a></p>
<p><a href="krooked-accessories-order-form">Krooked</a></p>
<p><a href="thunder-accessories-order-form">Thunder</a></p>
<p><a href="venture-accessories-order-form">Venture</a></p>
</div>
    </div>

  </div>

</div>








