<div class="grid">

  <div class="grid-item ">

    <div class="rte">
      
								<style type="text/css">
									
									    
									#left {
								        display: inline-block; 
								        padding: 10px;
								        width: 800px;
								        vertical-align: top;
								    }
								    #pic {
									    margin: 0px 30px 50px 20px;
									}
									
									.contact {
										background-color: black;
										color: #FFF;
										padding: 20px;
									}
								
								</style>
					<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/ug-header.jpg?1979426309589848920" border="0"><br>Welcome to DLX’s B2B, our online ordering system. Below are a few features you should know about! *AND don’t worry - we’re here — have any questions / need help? <a href="/pages/contact-us">Contact us</a>, and we’ll hit you back right away — Thanks.
					
					<br><br>
					
					<div id="left">
					<a href="/search"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/search.jpg?13261272161113531606" align="left" border="0" id="pic"></a><h1>VISUAL SEARCH</h1>
					<ul>
						<li>The easiest way to find what you're searching for.</li>
						<li>If you’re looking for something specific be sure to use the search bar on the top right. Can search pro name, product ID, product name… anything associated with the item you’re searching for.</li>
					</ul>
					</div>
					
					
					<div id="left">
					<a href="/pages/order-form-links"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/order-form-nav-top.jpg?8972419983083318395" align="left" border="0" id="pic"></a><h1>ORDER FORM ORDERING</h1>
					<ul>
						<li>Great for large orders w/ fewer clicks!</li>
						<li>Only need to hit Add to Cart once per page.</li>
						<li>Check it out: <a href="/pages/order-form-links">click here</a></li>
					</ul>
					</div>
					
					
					<div id="left">
					<a href="/pages/order-form-links"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/order-form-nav.jpg?15620022711475492530" align="left" border="0" id="pic"></a><h1>ORDER FORM ORDERING</h1>
					<ul>
						<li>When in order form pages, use this lower navigation to browse categories</li>
						<li>Check it out: <a href="/pages/order-form-links">click here</a></li>
					</ul>
					</div>
					
					
					<div id="left">
					<a href="/pages/order-form-links"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/order-form-quan.jpg?15620022711475492530" align="left" border="0" id="pic"></a><h1>ORDER FORM ORDERING</h1>
					<ul>
						<li>Enter quantities on right side.</li>
						<li>Only need to hit Add to Cart once per page.</li>
						<li>Check it out: <a href="/pages/order-form-links">click here</a></li>
					</ul>
					</div>
					
					
					<div id="left">
					<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/logo-homepage.jpg?10955828034227919608" align="left" border="0" id="pic"><h1>HOMEPAGE</h1>
					<ul>
						<li>Click DLX logo to get back to the homepage</li>
						<li>Deals, News, and Specials are listed on the homepage</li>
						<li><a href="/">Check it daily</a></li>
					</ul>
					</div>
					
					<div id="left">
					<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/filters.jpg?10006598615127311551" align="left" border="0" id="pic"><h1>PRODUCT FILTERING</h1>
					<ul>
						<li>Filter and narrow your search.</li>
						<li>Filter by “Size” “Style”, or “Pro”.</li>
					</ul>
					</div>
					
					<div id="left">
					<a href="/pages/contact-us"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/wip.jpg?10803594162811643018" align="left" border="0" id="pic"></a><h1>WORK-IN-PROGRESS</h1>
					<ul>
						<li>We’re making improvements all the time. </li>
						<li>Got an idea and suggestion? Please let us know! </li>
						<li>You’re the one using the B2B and know best. Contact your rep and let him know. He might throw a little something in with your next order as a thank you!</li>
						<li><a href="/pages/contact-us">Contact your Sales Rep</a></li>
					</ul>
					</div>
					
					
					
					
		
		






    </div>

	



  </div>

</div>
