 {% if search.results %}
  {% assign upsellProducts = '' %}
  {% for product in search.results %}
   {% if product.tags contains '8upsell' %}
    {% if upsellProducts != '' %}
     {% assign upsellProducts = upsellProducts | append:',' %}
    {% endif %}
    {% assign upsellProducts = upsellProducts | append:product.id %}
   {% endif %}
  {% endfor %}
  {% if upsellProducts %}
   {% assign upsellProducts = upsellProducts | split: ',' %}
  {% endif %}
 {% endif %}


{% assign grid_results = true %}

{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

  <div class="grid">
    <div class="grid-item">

      <hr class="hr--clear hr--small">

      {% if search.performed %}

        {% paginate search.results by 20 %}

          {% if search.results == empty or search.results.size == upsellProducts.size %}

            <h2 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
            {% include 'search-bar' %}

          {% else %}

            <h2 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
            {% include 'search-bar' %}
            <hr class="hr--clear">

            {% if grid_results == false %}

              {% for item in search.results %}
           
                {% include 'search-result' %}
              {% endfor %}

            {% else %}

              <div class="grid-uniform">
                {% for item in search.results %}
                {% unless item.tags contains 'HiddenProduct' %}
                {% assign currentSearchItem = item.id | strip_html %}
 {% if upsellProducts contains currentSearchItem %}
  {% continue %}
 {% endif %}
                  {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
                  {% include 'search-result-grid' %}
                  {% endunless %}
                {% endfor %}
              </div>

            {% endif %}

          {% endif %}

          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}

        {% endpaginate %}

      {% else %}

        {% comment %}
          If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
        {% endcomment %}
        <h2 class="text-center">{{ 'general.search.title' | t }}</h2>
        {% include 'search-bar' %}

      {% endif %}

    </div>
  </div>

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
